<div class="bg-gray-100 w-full h-full">
  <div class="container relative w-full h-full flex flex-row gap-8 p-8">
    <aside class="top-0 sticky rounded-2xl bg-white p-8 hidden md:block">
      <div class="flex flex-col items-center gap-2.5">
        <%= image_tag current_account.avatar, class: 'w-20 h-20 rounded-full'%>
        <%= link_to current_account.full_name, account_path(current_account), class: 'text-sm font-bold text-primary-500 hover:underline cursor-pointer min-w-40 text-center max-w-52 overflow-ellipsis overflow-hidden whitespace-nowrap' %>
      </div>

      <hr class="my-4"/>

      <div class="flex flex-col gap-1 text-sm">
        <p class="text-justify">Your Messages: <strong><%= @count_data[:messages_count] %></strong></p>
        <%= link_to chats_path, class: 'hover:underline' do %>
          <p class="text-justify">Your Chats: <strong><%= @count_data[:chats_count]  %></strong></p>
        <% end %>
        <%= link_to likes_path, class: 'hover:underline' do %>
          <p class="text-justify">Your Likes: <strong><%= @count_data[:likes_count]  %></strong></p>
        <% end %>
        <%= link_to posts_path, class: 'hover:underline' do %>
          <p class="text-justify">Your Posts: <strong><%= @count_data[:posts_count] %></strong></p>
        <% end %>
      </div>

      <hr class="my-4"/>

        <div class="flex flex-col gap-1 text-sm font-bold">
          <%= link_to 'Check Users', accounts_path, class: 'hover:text-secondary-500 hover:underline cursor-pointer' %>
          <% if @account_tokens.present? %>
            <% @account_tokens.each do |token| %>
              <% if token.frontend? %>
                <%= link_to 'Visit Frontend', frontend_route, class: 'hover:text-secondary-500 hover:underline cursor-pointer' %>
              <% elsif token.verse? %>
                <%= link_to 'Visit Verse', verse_route, class: 'hover:text-secondary-500 hover:underline cursor-pointer' %>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </aside>
    <section class="flex flex-col gap-6">
      <%= render partial: 'posts/post', collection: @posts, locals: { has_link_button: true } %>
    </section>
  </div>
</div>
