<%= link_to 'Create New Message', [:new, :admin, :message] %>

<hr />

<table class="table-auto text-sm">
  <thead class="bg-gray-100">
    <tr>
      <th>Content</th>
      <th>Sender</th>
      <th>Chat</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr class="border-b">
        <td><%= message.content %></td>
        <td><%= message.account.full_name %></td>
        <td><%= message.chat.id %></td>
        <td><%= message.created_at %></td>
        <td><%= message.updated_at %></td>
        <td>
          <%= link_to 'Show', [:admin, message] %>
          <%= link_to 'Edit', [:edit, :admin, message] %>
          <%= button_to 'Delete', [:admin, message], method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>
