<div class="mx-8 my-6 flex justify-between items-center">
  <%= link_to t('.add_user'), %i[new admin user], class: 'px-4 py-2.5 bg-primary-500 hover:bg-secondary-500 text-white font-bold rounded-lg' %>
  <%== pagy_nav(@pagy) %>
</div>

<div class="w-full flex-center mb-8">
  <div class="w-full overflow-auto max-w-5xl mx-8 border rounded-xl">
    <table class="border-separate border-spacing-0 text-xs md:text-sm w-full rounded-xl overflow-hidden">
      <thead class="bg-gray-100">
        <tr>
          <%== table_cols(%w[email login_count current_login latest_login current_login_ip last_login_ip], class: 'py-2.5 text-center px-3') %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="even:bg-gray-50 odd:bg-white">
            <td class="text-center p-0.5 md:p-2"><%= user.email %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.sign_in_count || '-' %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.current_sign_in_at&.strftime('%d %B, %Y') || '-' %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.last_sign_in_at&.strftime('%d %B, %Y') || '-' %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.current_sign_in_ip || '-' %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.last_sign_in_ip || '-' %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.created_at.strftime('%d %B, %Y') %></td>
            <td class="text-center p-0.5 md:p-2"><%= user.updated_at.strftime('%d %B, %Y') %></td>
            <td class="text-center p-0.5 md:p-2">
              <% if (current_account.superadmin? && user.account.can_moderate?) || user.account.user? %>
                <div
                  class="relative min-w-fit"
                  data-controller="dropdown"
                  data-dropdown-other-toggle-classes-value=<%= %w[px-3 py-1.5].to_json %>
                >
                  <button data-action="dropdown#toggle"><i class="fa-solid fa-ellipsis"></i></button>
                  <div
                    class="absolute w-0 h-0 bg-white shadow z-[48] right-0 bottom-4 rounded-xl transition-all duration-100 overflow-hidden"
                    data-dropdown-target="dropdown"
                  >
                    <div class="flex flex-col gap-1.5 text-left">
                      <%= link_to t('show'), [:admin, user] %>
                      <%= link_to t('edit'), [:edit, :admin, user] %>
                      <%= button_to t('delete'), [:admin, user], method: :delete %>
                    </div>
                  </div>
                </div>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
