<%= form_with model: @ml_model, url: [:admin, :ml_models] do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :identifier %>
    <%= form.text_field :identifier %>
  </div>

  <div>
    <%= form.label :model_type %>
    <%= form.select :model_type, %w[classification regression] %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :model_diagram %>
    <%= form.file_field :model_diagram %>
  </div>

  <div>
    <%= form.label :explanation %>
    <%= form.rich_text_area :explanation %>
  </div>

  <div data-controller="clone">
    <%= form.label :parameters_with_order %>

    <div data-clone-target="cloneContainer">
      <button type="button" data-action="clone#cloneTargetToContainer">Add Order Param</button>
      <%= form.fields_for :parameters_with_order do |parameters_order_form| %>
        <%= parameters_order_form.text_field '', id: nil, data: { clone_target: 'toBeCloned' } %>
      <% end %>
    </div>
  </div>

  <%= @ml_model.errors.full_messages %>

  <%= form.submit %>
<% end %>
