<!doctype html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Chatai' %>
    </title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :meta_tags %>

    <style>
      <%= yield :style %>
    </style>

    <%= stylesheet_link_tag 'tailwind', 'inter-font', data: { turbo_track: 'reload' } %>
    <%= stylesheet_link_tag 'application', data: { turbo_track: 'reload'} %>

    <meta name="turbo-refresh-method" content="morph">

    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <main class="flex flex-col items-center">
      <%= render 'shared/navbar' %>

      <div class="fixed top-12 right-12" id="flash">
        <%= render 'shared/flash' %>
      </div>

      <section class="container"><%= yield %></section>

      <%= turbo_frame_tag 'dialog' %>
    </main>
  </body>
</html>
